#!/usr/bin/make -f

PKG="mgltools1.5.6"
VER="1.5.6"
DEB_DIR=debian/${PKG}
PWD=`pwd`
DEB_INST_DIR=${PWD}/${DEB_DIR}/usr/lib/${PKG}

%:
	dh $@

build:
	(cd MGLPACKS && tar xzf geomutils-1.5.4.tar.gz) && patch -p0 < debian/patches/MGLPACKS/geomutils-1.5.4/src/geomAlgorithms/objfile.cpp.patch
	mkdir -p ${DEB_INST_DIR}/usr/lib/python/site-packages
	mkdir -p ${DEB_INST_DIR}/bin
	mkdir -p ${DEB_DIR}/usr/bin
	python InstTools/install -q --instDir ${DEB_INST_DIR}/usr/lib/python/site-packages
	
override_dh_prep:
	echo ""

override_dh_auto_install:
	install -m 644 sitecustomize.py ${DEB_INST_DIR}/usr/lib/python/
	for filename in 'runAdt' 'runPmv' 'runVision'; do \
	    mv ${DEB_INST_DIR}/usr/lib/python/site-packages/$${filename} ${DEB_INST_DIR}/bin; \
	done
	for filename in ${DEB_INST_DIR}/bin/*; do \
		file=`basename $${filename}`; \
		echo "export PYTHONPATH=/usr/lib/${PKG}/usr/lib/python/site-packages/MGLToolsPckgs:\$$PYTHONPATH; export PATH=/usr/lib/${PKG}/bin:\$$PATH; exec $$file" > ${DEB_DIR}/usr/bin/$${file}${VER}; \
	done
